.env
.env.*
!.env.example

# dependencies
node_modules
client/node_modules

# builds
client/dist
dist
dist-ssr

# logs
logs
*.log
error.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# local uploads (optional - remove if you want committed)
public/uploads

# misc
.DS_Store
Thumbs.db

# editor / IDE
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
